.follow{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.hover-change{
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
}
.hover-img {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 85% 15%;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 15%);
}
.hover-grid{
    gap: 30px;
    padding: 20px 0 20px 0;
    margin: auto;
    width: 100%;

    display: grid;
    justify-content: space-between;
    grid-template: 1fr 1fr  / 1fr 1fr  1fr ;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mature, .mature2{
    display: none;
}

.hover-change:hover .kid {
    display: none;
}
.hover-change:hover .mature{
    display: block;
}
.abc {
    width: 100%;
    height: 100%;
}
.item-font {
    font-family: "HMSansLatin-Regular";
    font-size: 20px;
    color: #222C36;
   text-align: start;
   padding-left: 5px;
}
.dot{
    display: inline-block;
    height: 15px;
    overflow: hidden;
    text-indent: -9999px;
    width: 15px;
}
