*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0;
}
.hover-container{
    background-color: #E4F2FD;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hover-change{
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 15%);
}
.hover-grid{
    gap: 30px;
    padding: 20px 0 20px 0;
    margin: auto;
    width: 50%;
    height: 100%;
    display: grid;
    justify-content: space-between;
    grid-template: 200px 200px 200px / 200px 200px 200px ;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mature{
    display: none;
}

.hover-change:hover .kid {
    display: none;
}
.hover-change:hover .mature{
    display: block;
    animation-name: scale;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}
